Trips4/DRCOG.Domain/Service References/AuthenticationService/AuthenticationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DRCOG.Common.Services.MemberShipServiceSupport" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DRCOG.Common.Services.MemberShipServiceSupport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www3.drcog.org/Webservices/AuthenticationService/AuthenticationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Profile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserRoleBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Success" type="xs:boolean" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
  <xs:complexType name="UserRoleBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRoleBase" nillable="true" type="tns:UserRoleBase" />
</xs:schema>